In [1]:
import pandas as pd

In [2]:
data = [{'product_id':23, 'name':'computer', 'wholesale_price': 500, 'retail_price':1000, 'sales':100}, 
{'product_id':96, 'name':'Python Workout', 'wholesale_price': 35,'retail_price':75, 'sales':1000},
{'product_id':97, 'name':'Pandas Workout', 'wholesale_price': 35, 'retail_price':75, 'sales':500},
{'product_id':15, 'name':'banana', 'wholesale_price': 0.5,'retail_price':1, 'sales':200},
{'product_id':87, 'name':'sandwich', 'wholesale_price': 3,'retail_price':5, 'sales':300}]

df = pd.DataFrame(data)
df

   product_id            name  wholesale_price  retail_price  sales
0          23        computer            500.0          1000    100
1          96  Python Workout             35.0            75   1000
2          97  Pandas Workout             35.0            75    500
3          15          banana              0.5             1    200
4          87        sandwich              3.0             5    300

In [8]:
df['net_revenue_per_product'] = (df['retail_price'] - df['wholesale_price']) * df['sales']
df

,product_id,name,wholesale_price,retail_price,sales,net_revenue_per_product,new_wholesale_price,new_net_revenue_per_product
0,23,computer,500.0,1000,100,50000.0,350.00,65000.0
1,96,Python Workout,35.0,75,1000,40000.0,24.50,50500.0
2,97,Pandas Workout,35.0,75,500,20000.0,24.50,25250.0
3,15,banana,0.5,1,200,100.0,0.35,130.0
4,87,sandwich,3.0,5,300,600.0,2.10,870.0

In [4]:
#calculating the total revenue of products
total_net_revenue = df['net_revenue_per_product'].sum()
print("Total net revenue received from all sales:", total_net_revenue)

Total net revenue received from all sales: 110700.0

In [5]:
#Product with retail price more than twice the wholesale price
twice_wholesale_price = df['wholesale_price'] * 2
product_name = df.loc[df['retail_price'] > twice_wholesale_price, 'name'].iloc[0]
print("Product with retail price more than twice the wholesale price:", product_name)

Product with retail price more than twice the wholesale price: Python Workout

In [6]:
#Revenue from food vs. computers vs. books

food_revenue = df.loc[df['name'].isin(['banana', 'sandwich']), 'net_revenue_per_product'].sum()
computer_revenue = df.loc[df['name'] == 'computer', 'net_revenue_per_product'].sum()
book_revenue = df.loc[df['name'].isin(['Python Workout', 'Pandas Workout']), 'net_revenue_per_product'].sum()
print("Revenue from food:", food_revenue)
print("Revenue from computers:", computer_revenue)
print("Revenue from books:", book_revenue)

Revenue from food: 700.0
Revenue from computers: 50000.0
Revenue from books: 60000.0

In [7]:
#New net revenue with 30% discount on wholesale price
df['new_wholesale_price'] = df['wholesale_price'] * 0.7
df['new_net_revenue_per_product'] = (df['retail_price'] - df['new_wholesale_price']) * df['sales']
new_total_net_revenue = df['new_net_revenue_per_product'].sum()
print("New total net revenue with 30% discount on wholesale price:", new_total_net_revenue)

New total net revenue with 30% discount on wholesale price: 141750.0